In [ ]:
str1 = 'hello'

str2 = ','

str3 = 'world'

str1[-1]

1) hello

2) e

3) o

4) world

In [ ]:
names = ['Amir', 'Bear', 'Charltoe', 'Daman'] #-1 Daman -2 chn-2

print(names[0][-2])

In [ ]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
 
names2[0] = 'Alice'
names3[1] = 'Bob'
 
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
 
print (sum)

In [ ]:
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
 
print (sum)

In [ ]:
list1 = [11, 2, 23]

list2 = [11, 2, 2]

list1 < list2

In [ ]:
"Welcome to Python".split()

In [ ]:



"Welcome to Python".split()

In [ ]:


myList = [1, 5, 5, 5, 5, 1]
max = myList[0]
indexOfMax = 0
for i in range(1, len(myList)):
    if myList[i] > max:
        max = myList[i]
        indexOfMax = i
    print(indexOfMax)

In [ ]:
myList = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    myList[i - 1] = myList[i]
for i in range(0, 6): 
    print(myList[i], end = " ")

In [ ]:


list1 = [1, 3]

list2 = list1

list1[0] = 4

print(list2)

In [ ]:


def f(values):
    values[0] = 44
 
v = [1, 2, 3]
f(v)
print(v)

In [ ]:



list("a#b#c#d".split('#'))

In [ ]:


def f(i, values = []):
    values.append(i)
    return values
 
f(1)
f(2)
v = f(3)
print(v)

In [ ]:


names1 = ['Amir', 'Bala', 'Chales']
 
if 'BaLa' in names1:
    print("Result Found")
else:
    print("Not found")

In [ ]:


names1 = ['Amir', 'Razaq', 'Charlie']
names2 = [name.upper() for name in names1]
 
print(names2[-2][-3])

In [ ]:


def f(j, values = []):
    values.append(j)
    return values
 
f(1)
f(8)
v = f(7)
print(v)

#[1, 8 , 7]

In [ ]:

list1 = [1, 2, 3, 4, 7, 5, 556678889]
list2 = [5, 6, 7, 8, 6]
 
print(len(list1 + list2))

In [ ]:
def increment_items(L, increment):
    i = 0
    while i < len(L):
        L[i] = L[i] + increment
        i = i + 1
 
values = [1, 2, 3]
print(increment_items(values, 2))
print(values)

In [ ]:

list1 = (11, 2, 23)

list2 = (10, 2, 23)

list1 < list2

In [ ]:

names = ['Amir', 'Bear', 'Charlton', 'Daman']

print(names[-1][-3])

In [ ]:

names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
 
names2[0] = 'Alice'
names3[1] = 'Bob'
 
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
 
print (sum);

In [ ]:

matrix = [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]
 
for i in range(0, 4):
    print(matrix[i][1], end = " ")

In [ ]:

list1 = [1, 3]

list2 = list1

list1[0] = 4

print(list2)

In [ ]:


for i in x:
    i.lower()

In [ ]:

x = ['Noman', 'Noman Ahsan']

print(x)

In [ ]:

i = 0
while i < 8:
    print(i)
    i += 3
    if i == 1:
        break
else:
    print(0)

In [ ]:

x = "abcdef"
while i in x:
    print(i, end=" ")

In [ ]:

x = 'abcd'
for i in range(len(x)):
    print(i)

In [ ]:

x = 'abcd'
for i in range(len(x)):
    x[i].upper()
print (x)

In [ ]:

x = 123
for i in x:
    print(i)

In [ ]:

d = {0: 'a', 1: 'b', 2: 'c'}
for i in d:
    print(i)

In [ ]:

d = {0: 'a', 1: 'b', 2: 'c'}
for x, y in d:
    print(x, y)

In [ ]:

for i in [1, 2, 3, 4][::-1]:
    print (i)

In [ ]:

for i in range(10):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

In [ ]:

for i in range(5):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

In [ ]:

x = (i for i in range(3))
for i in x:
    print(i)
for i in x:
    print(i)


a = [0, 1, 2, 3]
i = -2
for i not in a:
    print(i)
    i += 1



Which of the following is a Python tuple?

a) [1, 2, 3] List
b) (1, 2, 3) tuple
c) {1, 2, 3} dictionary
d) {} dictionary

1.0
"a"
1
(1, 2, 4)
1, 2 ,3

In [ ]:

t=(1,2,4,3)

t[1:3]

In [ ]:

t = (1, 2, 4, 3, 8, 9, 10, 12, 15, 67777)

[t[i] for i in range(0, len(t), 4)]

In [ ]:

d = {"john":40, "peter":45}

d in ["john"]

In [ ]:

t1 = (1, 2, 4, 3)

t2 = (1, 2, 3, 4)

t1 < t2

In [ ]:

numberGames = {}
numberGames[(1,2,4)] = 8
numberGames[(4,2,1)] = 10
numberGames[(1,2)] = 12
sum = 0
    for k in numberGames:
    sum += numberGames[k]
print len(numberGames) + sum



What is the data type of (1)?

a) Tuple
b) Integer
c) List
d) Both tuple and intege

In [ ]:

a=(1,2,(4,5))

b=(1,2,(3,4))

a<b

In [ ]:

a=(1,2,3,4)

del a

In [ ]:
a) No because tuple is immutable 
b) Yes, first element in the tuple is deleted
c) Yes, the entire tuple is deleted
d) No, invalid syntax for del method

In [ ]:

a=(0,1,2,3,4)

b=slice(0,2)

a[b]

In [ ]:

a=(1,2,3,4) 
a[1:-1]

In [ ]:


Which of the following statements create a dictionary

In [ ]:


d = {"john":40, "peter":45}

In [ ]:


d = {"john":40, "peter":45}

"john" in d

In [ ]:


d1 = {"john":40, "peter":45}

d2 = {"john":466, "peter":45}

d1 == d2

In [ ]:


d1 = {"john":40, "peter":45}

d2 = {"john":466, "peter":45}

d1 > d2

In [ ]:


d = {"john":40, "peter":45}

d["john"]

In [ ]:


 Suppose d = {“john”:40, “peter”:45}, to delete the entry for “john” 
    
    what command do we use?

In [ ]:


Suppose d = {“john”:40, “peter”:45}. 

To obtain the number of entries in dictionary which command do we use?

In [ ]:


d = {"john":40, "peter":45}

print(list(d.keys()))

In [ ]:


a={1:"A",2:"B",3:"C"}

for i,j in a.items():
    
    print(i,j,end=" ")